<style>
    body {
      margin: 0;
      padding: 0;
    }


  </style>

<div id="itinerary-show-cont" class="d-flex justify-content-between mx-0" data-controller="itinerary-show">
  <% if @itinerary.list_items.empty? %>
    <div>
      <h2>You have no skate spots saved</h2>
      <%= link_to "Add some cool spots", locations_path  %>
    </div>
  <% else %>
    <div class="list-items-container">
      <h1><%= @itinerary.title %></h1>
      <%= render "shared/itinerary_summary", itinerary: @itinerary %>
      <div class='itinerary-additional-options'>
        <%= link_to "Add more spots", locations_path, class:'btn btn__lemon-generic'  %>
        <div>
          <%= link_to "Create Event", new_meeting_path, class:'btn btn__lemon-generic' %>
        </div>
      </div>
    </div>
    <div class="map-container" >
      <div id='itinerary-map' style="width: 100%; height: 100%;"
        data-controller="mapbox-optimization"
        data-mapbox-optimization-coords-value = "<%= @itinerary.coords %>"
        <% start = ListItem.where(itinerary: @itinerary, start: true).first.location %>
        data-mapbox-optimization-start-value = "[<%= start.longitude %>, <%= start.latitude %>]"
        data-itinerary-show-target = "map"
        data-mapbox-optimization-markers-value="<%= @markers.to_json %>"
        data-mapbox-optimization-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <div class='directions-controls-container'>
        <div class="info-box directions-box" id="instructions">
          <p>
          </p>
        </div>
        <div class='directions-show-cont'>
          <i id='directions-show' class="fa-solid fa-chevron-down"></i>
          <i id='directions-hide' class="fa-solid fa-chevron-up d-none"></i>
        </div>
      </div>
    </div>
  <% end %>
</div>
