<div class="container chatroom no-padding" data-controller="chatroom-subscription" data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>" data-chatroom-subscription-user-name-value="<%= current_user.first_name %>">
    <% if @chatroom.private %>
      <% if current_user == @user %>
        <% title = "Chat with #{@coach}" %>
        <%placeholder = @coach%>
      <% else %>
        <% title = "Chat with #{@user.first_name}" %>
        <%placeholder = @user.first_name%>
      <% end %>
    <% else %>
      <% title = "##{@chatroom.name}" %>
      <%placeholder = @chatroom.name%>
    <% end %>
    <h2><%= title %></h2>
    <div class='hr-cont'>
      <hr>
    </div>
    <div class="messages" data-chatroom-subscription-target="messages" >
      <% @chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>
    <div class='hr-cont'>
      <hr>
    </div>

  <%= simple_form_for [@meeting, @chatroom, @message],
    remote: true,
    html: {
      data: {action: "ajax:success->chatroom-subscription#resetForm"},
      class: "d-flex" } do |f|
  %>
    <%= f.input :content,
      label: false,
      placeholder: "Message #{placeholder}",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Send", class: "btn btn-chat" %>
  <% end %>
  <div class='hr-cont'>
    <hr>
  </div>
  <div class='chatroom-additional-controls'>
      <% if @chatroom.private%>
      <% unless @chatroom.privatechat.coach.user == current_user %>
        <%= link_to "Back to #{@chatroom.privatechat.coach.user.first_name}", coach_path(@chatroom.privatechat.coach), class:'btn btn__lemon-generic' %>
      <% end %>
    <% end %>
    <%= link_to 'To my chats', chatrooms_path, class:'btn btn__lemon-generic' %>
  </div>
</div>
