<div class="container chatroom" data-controller="chatroom-subscription" data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>" data-chatroom-subscription-user-name-value="<%= current_user.first_name %>">
    <h1>#<%= @chatroom.name %></h1>

    <div class="messages" data-chatroom-subscription-target="messages" >
      <% @chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>

  <%= simple_form_for [@meeting, @chatroom, @message],
    remote: true,
    html: {
      data: {action: "ajax:success->chatroom-subscription#resetForm"},
      class: "d-flex" } do |f|
  %>
    <%= f.input :content,
      label: false,
      placeholder: "Message ##{@chatroom.name}",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Send", class: "btn btn-chat" %>
  <% end %>
  <div class='chatroom-additional-controls'>
      <% if @chatroom.private%>
      <% unless @chatroom.privatechat.coach.user == current_user %>
        <%= link_to "Back to #{@chatroom.privatechat.coach.user.first_name}", coach_path(@chatroom.privatechat.coach), class:'btn btn__lemon-generic' %>
      <% end %>
    <% end %>
    <%= link_to 'To my chats', chatrooms_path, class:'btn btn__lemon-generic' %>
  </div>
</div>
