<div class="profile_container">
  <div class="item1">
    <%= link_to "edit", edit_user_path , style:"color:black; text-decoration:underline"%>

    <div class="profile-image">
      <% if current_user.photo.attached? %>
        <img src="<%= cl_image_path current_user.photo.key, gravity: :face,  crop: :fill, width: 400, height: 400 %>" class="avatar-bordered", data-bs-toggle="dropdown", aria-haspopup=true, aria-expanded=false>
      <% else %>
        <%= image_tag "empty_avatar.jpg", class: "avatar-bordered", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% end %>
    </div>

    <div class="profile_details mt-2">
      <h2><strong><%=current_user.first_name%></strong></h2>
      <p><%=current_user.address%></p>
    </div>

    <h3>Skating level</h3>
      <% if current_user.skater_level.length == 0 %>
        <p>Unknown</p>
      <% else %>
        <p><%=current_user.skater_level%></p>
      <% end %>

  </div>
  <div class="item2">Favourites</div>
  <div class="item3">Routes</div>
  <div class="item4">Calendar</div>
  <div class="item5">Other</div>

</div>
