<tr id='list-item-<%= item.id %>' class='itinerary-list-item' data-edit-list-item-target="item" data-controller="edit-list-items" data-edit-list-items-value = "<%= item.location.coords %>">
  <th scope="row"><img src="<%= cl_image_path item.location.photos.first.key, crop: :fill, width: 400, height: 400 %>"class= "location_preview image_col" alt=""></th>
  <td><div class='itinerary-cell title-cell'> <%= item.location.title %> </div></td>
  <td>
    <div class='itinerary-cell cell__delete'>
          <%= link_to '<i class="fas fa-trash"></i>'.html_safe,
          list_item_path(item),
          method: :delete,
          remote: true,
          data: { edit_list_items_target: 'link', action: "click->edit-list-items#update" } %>
      </div>
  </td>
</tr>
