<div class="navbar navbar-expand-sm navbar-dark navbar-lewagon" data-controller= "navbar-scroller" data-action="scroll@window->navbar-scroller#scroller" data-navbar-scroller-target="nav" >
  <div class="container-fluid" >
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "lemon_logo.png", class: "lemon_logo" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto" >
        <% if user_signed_in? %>
          <div class="d-flex justify-content-end nav-item nav-menu-container" data-action="scroll@window->navbar-scroller#scroller" data-navbar-scroller-target="link">
            <div>
              <li class="nav-item active" >
                <%= link_to "Home", root_path, class: "nav-link" %>
              </li>
            </div>
            <div>
              <li class="nav-item active" >
                <%= link_to "Find a coach", coaches_path, class: "nav-link" %>
              </li>
            </div>
            <div>
              <li class="nav-item active" >
                <%= link_to "Locations", locations_path , class: "nav-link" %>
            </li>
            </div>
            <div>
              <li class="nav-item active" >
                <%= link_to "Add location", new_location_path , class: "nav-link" %>
              </li>
            </div>
            <li class="nav-item dropdown">
              <a class="dropdown-toggle nav-link" data-bs-toggle="dropdown">My Routes</a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <% unless current_user.itineraries.empty? %>
                  <% current_user.itineraries.each do |itinerary| %>
                    <%= link_to "#{itinerary.title}", itinerary_path(itinerary), class: "dropdown-item" %>
                  <% end %>
                <% else %>
                  <p>You have no routes saved</p>
                <% end %>
              </div>
            </li>
            <div>
              <li class="nav-item">
                <%= link_to "Messages", chatrooms_path, class: "nav-link" %>
              </li>
            </div>
          </div>
          <li class="nav-item dropdown">
            <% if current_user.photo.attached? %>
              <img src="<%= cl_image_path current_user.photo.key, gravity: :face,  crop: :fill, width: 200, height: 200 %>" class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup=true aria-expanded=false>
              <% else %>
              <%= image_tag "empty_avatar.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", user_path(current_user) , class: "dropdown-item" %>
              <%# <%= link_to "Notifications", user_notifications_path(current_user), class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item" data-action="scroll@window->navbar-scroller#scroller" data-navbar-scroller-target="link">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
