<p>Posted by: <%= event.user.first_name %></p>
<h1><%= event.title %></h1>
<%# <p>Location start: <%= event.itinerary.location.address %></p> %>
<p>start date and time <%= event.start_time %></p>
<p>end date and time <%= event.end_time %></p>
