<h1><%= @coach.user.first_name %></h1>
<p><%= @coach.style %></p>
<p><%= @coach.bio %></p>
<p>Rate per hour: <%= humanized_money_with_symbol(@coach.price) %></p>
<% if @coach.user != current_user %>
  <%= render "appointments/new.html.erb", coach: @coach, appointment: @appointment %>
<% end %>
