<div class="container">
<h2 class="heading checkout-heading">Checkout summary</h2>
  <div class="d-flex">
    <div class=""><img src="<%= cl_image_path @appointment.coach.user.photo.key, gravity: :face,  crop: :fill %>" class="avatar-bordered"></div>
    <div class="">
      <p>You are booking a lesson with <strong><%= @appointment.coach.user.first_name %></strong></p>
      <p><strong>Price:</strong> <%= humanized_money_with_symbol @appointment.amount %></p>
      <p><strong>Day:</strong> <%= @time_slot.strftime("%A %d %B %Y")%></p>
      <p><strong>Time slot:</strong> <%= @time_slot.strftime("%I:%M%p - ")%> <%=  (@time_slot + 3600).strftime("%I:%M%p") %></p>
      <button id="pay" class="btn btn__lemon-generic">Pay Now</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @appointment.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>
