<div class="container">
  <div class="row py-4">
    <div class="col-md-3"> <img src="<%= cl_image_path @appointment.coach.user.photo.key, gravity: :face,  crop: :fill %>" class="avatar-bordered"></div>
    <div class="col">
      <h1>Order #<%= @appointment.id %> <small><span class="badge bg-primary"><%= @appointment.state %></span></small></h1>
      <ul class="list-unstyled">
        <li><strong>ISSUED ON</strong> <%= @appointment.created_at.to_date %></li>
        <li><strong>Coach</strong> <%= @appointment.coach.user.first_name %></li>
        <li><strong>TOTAL PAID</strong> <%= humanized_money_with_symbol @appointment.amount %></li>
        </li>
      </ul>
      <p>Your lesson is on <strong><%= @appointment.start_time %></strong></p>
    </div>
  </div>
</div>
