<!-- Button trigger modal -->

<a class="modal__link" data-bs-toggle="modal" data-bs-target="#locationModal<%= num %>"><%= location.title %></a>

<!-- Modal -->
<div class="modal fade" id="locationModal<%= num %>" tabindex="-1" aria-labelledby="locationModalLabel<%= num %>" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered"">
    <div class="modal-content border-killer">
      <div class="modal-header kill-padding">
        <!-- render carousel partial -->
        <%= render "show_carousel", location: location, num: location.id %>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="detail-container">
          <h3><%= location.title %></h3>
          <p><%= location.description %></p>
          <p><%= location.address %></p>
        </div>
      </div>

      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-secondary d-none" data-bs-dismiss="modal">Place Holder</button>

        <button type="button" class="btn btn-secondary d-none">Add to custom route</button>

        <%= current_user.itineraries.empty? ? (render "shared/itinerary_form", itinerary: itinerary) : (render "shared/list_item_form", location: location, list_item: list_item) %>
      </div>

    </div>
  </div>
</div>
